* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    margin: 30px auto;
    height: 1000px;
    width: 70%;
    background-color: gray;
}


.row {
    text-align: center;
}


.card {
    height: 790px;
    width: 30%;
    display: inline-block;

    margin: 15px;

    background-image: url("../img/1.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}