* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


.container {
    width: 1080px;
    margin: 50px auto;
    height: 1000px;
}


/* Utilities */

/* Card */
.row {
    text-align: center;
}


.card {
    display: inline-block;
    width: calc(100% / 3 - 50px);
}

.item {
    height: 370px;
    width: 80%;
    display: inline-block;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    position: relative;
    cursor: pointer;
}

/* Items */
.item.relaxed-tee {
    background-image: url("../img/1.webp");
}
.item.relaxed-tee:hover {
    background-image: url("../img/1b.webp");
}

.item.roses_tee {
    background-image: url("../img/2.webp");
}
.item.roses_tee:hover {
    background-image: url("../img/2b.webp");
}

.item.voglia_di {
    background-image: url("../img/3.webp");
}
.item.voglia_di:hover {
    background-image: url("../img/3b.webp");
}

.item.tee {
    background-image: url("../img/4.webp");
}
.item.tee:hover {
    background-image: url("../img/4b.webp");
}

.item.stripe {
    background-image: url("../img/5.webp");
}
.item.stripe:hover {
    background-image: url("../img/5b.webp");
}

.item.maglione {
    background-image: url("../img/6.webp");
}
.item.maglione:hover {
    background-image: url("../img/6b.webp");
}






.discount {
    padding: 3px;
    background-color: #ea1849;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    
    position: absolute;
    left: 0px;
    bottom: 30px;
}

.sostenibility {
    padding: 3px;
    background-color: #00875a;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    
    position: absolute;
    left: 43px;
    bottom: 30px;
}


.like-btn {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 15px;
    background-color: white;

    position: absolute;
    right: 0;
    top: 19px;
    cursor: pointer;
}


.like-btn:hover {
    color: red;
}


/* Item Description */


.description {
    background-color: white;
    margin: 0 auto;
    width: 80%;
    text-align: left;
    padding: 10px;

    position: relative;
    bottom: 19px;

    cursor: pointer;
}

.brand-name {
    display: block;

    font-size: 0.7em;
}

.item-name {
    display: block;
    font-weight: bold;
}

.price {
    display: block;
    font-weight: bold;
    

    font-size: 0.7em;
    color: red;
}



