* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    margin: 30px auto;
    height: 1000px;
    width: 70%;
    background-color: gray;
}

/* Card */
.row {
    text-align: center;
}

.card {
    height: 530px;
    width: 30%;
    display: inline-block;

    margin: 15px;

    background-image: url("../img/1.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
}

.discount {
    padding: 3px;
    background-color: #ea1849;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    
    position: absolute;
    left: 0px;
    bottom: 19px;
}

.sostenibility {
    padding: 3px;
    background-color: #00875a;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    
    position: absolute;
    left: 43px;
    bottom: 19px;
}


.like-btn {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 15px;
    background-color: white;

    position: absolute;
    right: 0;
    top: 19px;
}


/* Item Description */

.brand-name {
    height: 790px;
    width: 30%;
    text-align: left; 
}